*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	font-family: 'Quicksand', sans-serif;
}

video{
    width: 100%;
}

#wrapper {
    max-width: 1200px;
    margin: 0 auto;
}
  
#banner-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0 3% 0;
    position: absolute;
    overflow: hidden;
}
  
header {
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}
  
header #logo img{
    margin: 20px;
    float: left;
    width: 135px;
    height: 75px;
}

/* NAVIGATION*/
nav {
    float: right;
    padding: 25px 20px 0px 0px;
}
  
#menu-icon {
    display: none;
    font-size: 50px;
}
  
ul {
    list-style: none;
}
  
nav ul li {
    font-size: 150%;
    display: inline-block;
    float: left;
    padding: 10px;
}
  
nav ul li a {
    color: #6991AC;
}
  
.current {
    color: #3F5767;
}
  
a:hover {
    color: #a5bdcd;
}

/* Footer */

footer{
    background: linear-gradient(90deg, #085078 0%, #85D8CE 100%);
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}
.content-foot{
    text-align: center;
}

.content-foot h4{
    color: #fff;
    border-bottom: 3px solid #fff;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foot p{
    color: #ccc;
    
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #fff;
}