*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(90deg, #085078 0%, #85D8CE 100%);
    min-height: 100vh;
}
.contenedor{
    position: relative;
    height: 600px;
    display: flex;
    align-items: center;
}

.wave{
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
}

.contenedor-textos{
    flex-basis: 50%;
    padding-left: 40px;
    padding-top: 150px;
    overflow: hidden;
    color: #fff;
}

.logo{
    width: 100px;
    height: 100px;
    align-items: center;
}

.titulo{
    font-size: 50px;
}

.subtitulo{
    font-size: 30px;
    font-weight: 500;
    margin: 15px 0;
}

.cta{
    display: inline-block;
    width: 150px;
    padding: 15px 0;
    text-align: center;
    background: #fff;
    border-radius: 4px;
    text-decoration: none;
    color: #085078 ;
    margin-top: 10px;
}

.contenedor-imagen{
    flex-basis: 50%;
    position: relative;
    z-index: 1;
    text-align: center;
    overflow: hidden;
}

.img{
    width: 95%;
    animation: ilustrationAnimate ease-in 1s infinite alternate;
}

@keyframes ilustrationAnimate{
    0%{
        transform: scale(1);
    }100%{
        transform: scale(1.04);
    }
}

/* Ajustando a dispositivos mobile*/

@media screen and (max-width: 800px){
    .contenedor{
        flex-direction: column-reverse;
    }
    
    .wave{
        width: 80%;
    }

    .contenedor-textos{
        display: flex;
        flex-direction: column;
        padding-left: 0;
        justify-content: center;
        align-items: center;
        flex-basis: 40%;
        text-align: center;
    }

    .titulo{
        font-size: 40px;
    }

    .subtitulo{
        font-size: 20px;
    }

    .contenedor-imagen{
        flex-basis: 60%;
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .img{
        height: 90%;
    }
}

@media screen and (max-width: 500px){
    .contenedor{
        margin: 5px;
    }

    .wave{
        width: auto;
        height: 40%;
    }

    .contenedor-textos{
        padding-top: 0px;
        flex-basis: 40%;
        justify-content: flex-start;
    }

    .titulo{
        font-size: 35px;
    }

    /* Footer */

    .contenedor-footer{
        flex-direction: column;
        border: none;
    }

    .content-foot{
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foot h4{
        border: none;
    }

    .content-foot p{
        color: #fff;
        /*border-bottom: 1px solid #fff;*/
        padding-bottom: 20px;
    }

    .titulo-final{
        font-size: 20px;
    }

}

/* Footer */

footer{
    background: linear-gradient(90deg, #085078 0%, #85D8CE 100%);
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}
.content-foot{
    text-align: center;
}

.content-foot h4{
    color: #fff;
    border-bottom: 3px solid #fff;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foot p{
    color: #ccc;
    
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #fff;
}