:root{
	--color1: rgb(8, 80, 120, .5);
	--color2: rgba(23,180,83,0.788);
	--color3: rgba(11,194,211,0.820);
	--fondo: #f2f2f2;
	--titulos: 33px;
	--margenes: 60px;
	--espacios: 10px;
	--espacios-contenidos: 45px;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
    font-family: 'Quicksand', sans-serif;
    background: var(--fondo);
}

img{
	vertical-align: top;
}

/* Preloader  */

.hidden{
	overflow: hidden;
  }
  
.centrado{
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: #000;
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
}
.lds-facebook {
	display: inline-block;
	position: relative;
	width: 64px;
	height: 64px;
}
  
.lds-facebook div {
	display: inline-block;
	position: absolute;
	left: 6px;
	width: 13px;
	background: #cef;
	animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
  
.lds-facebook div:nth-child(1) {
	left: 6px;
	animation-delay: -0.24s;
}
  
.lds-facebook div:nth-child(2) {
	left: 26px;
	animation-delay: -0.12s;
}
  
.lds-facebook div:nth-child(3) {
	left: 45px;
	animation-delay: 0;
}
  
@keyframes lds-facebook {
	0% {
	  top: 6px;
	  height: 51px;
	}
  
	50%,
	100% {
	  top: 19px;
	  height: 26px;
	}
}


/* Header */

header{
	width: 100%;
	height: 600px;
	background: linear-gradient(to bottom,
	rgba(8, 80, 120, .6), 
	rgba(133, 216, 206, .6),
	rgba(242, 252, 254, .45)
	), url(../images/pics/fondo.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

nav{
	width: 100%;
	position: fixed;
	box-shadow: 0 0 10px 0 rgba(0,0,0,.5)
}

.nav1{
	background: transparent;
	height: 80px;
	color: #fff;
}

.nav2{
	background: var(--fondo);
	height: 100px;
	color: #000;
}

.contenedor-nav{
	display: flex;
	margin: auto;
	width: 90%;
	justify-content: space-between;
	align-items: center;
	max-width: 1000px;
	height: inherit;
	overflow: hidden;
}

nav .enlaces a{
	display: inline-block;
	padding: 5px 0;
	margin-right: 17px;
	font-size: 17px;
	font-weight: 300;
	text-decoration: none;
	border-bottom: 3px solid transparent;
	color: inherit;
}

nav .enlaces a:hover{
	border-bottom: 3px solid #1498a4;
	transition: 0.6s;
}

.logo, .logo img{
	height: 80px;
}

.icono{
	display: none;
	font-size: 24px;
	padding: 23.5px 20px;
}

.textos{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	color: #fff;
	overflow: hidden;
	text-align: center;
}

.textos>h1{
	font-size: 80px;
}
.textos>h2{
	font-size: 30px;
	font-weight: 300;
}

/* Main */

.contenedor{
	margin:auto;
	padding: var(--margenes) 0;
	width: 90%;
	max-width: 1200px;
	text-align: center;
	overflow: hidden;
}
  
.contenedor h3{
	font-size: var(--titulos);
	color: var(--color1);
	margin-bottom: var(--espacios);
}
  
.contenedor p{
	font-size: 15px;
	font-weight: 300;
	color: var(--color1);
}
  
.after::after{
	content:'';
	display: block;
	margin: auto;
	margin-top: var(--espacios);
	width: 100px;
	height: 2px;
	background: var(--color1);
	margin-bottom: var(--espacios-contenido);
}
  
.card{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
  
.content-card{
	width: 31%;
	box-shadow: 0 0 6px 0 rgba(0,0,0,.5);
	overflow: hidden;
	height:700px;
}
  
.people{
	height: 80%;
}
  
.content-card img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
  
.texto-team{
	height: 20%;
	width: 100%;
	padding: var(--espacios) 0;
}

#lteam{
	text-decoration: none;
	color: var(--color1);
}

#lcovid{
	color: var(--color1);
}

.blog{
	background: url(../images/pics/fondo2.jpg);
	height: auto;
}

.blogs{
	display: flex;
	color: #fff;
	justify-content: space-between;
	flex-wrap: wrap;
}

#dental{
	color: #fff;
	margin-bottom: #fff;
}

#news{
	color: #fff;
}

#lblog{
	text-decoration: none;
	color: #fff;
}

.caja-blogs{
	margin-bottom: var(--espacios);
	margin-top: 20px;
}

.caja-blogs>p{
	text-align: center;
	color: rgb(229, 226, 226);
}

.caja-blogs>h4{
	color: #fff;
}

.caja-blogs>img{
	width: 64px;
	height: 64px;
}

.botones-services{
	overflow: hidden;
	margin-top: 20px;
}

.botones-services li{
	display: inline-block;
	text-align: center;
	margin-left: 2px;
	margin-bottom: var(--espacios-contenidos);
	padding: 6px 17px;
	border: 1px solid var(--color1);
	list-style: none;
	color: var(--color1);
}

.botones-services li:hover{
	background: var(--color1);
	color: #fff;
	cursor: pointer;
}

.botones-services .active{
	background: var(--color1);
	color: #fff;
}

.galeria-services{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.galeria-services .cont-services{
	width: 31%;
	box-shadow: 0 0 6px 0 rgba(0,0,0,.5);
	height: 300px;
	overflow: hidden;
	margin-bottom: var(--espacios-contenidos);
}

.img-services{
	height: 90%;
	width: 100%;
}

.img-services img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.textos-services{
	height: 10%;
}

.textos-services h4{
	line-height: 30px;
	font-weight: 300;
}

/* Footer */
footer {
    background: url(../images/pics/fondo2.jpg);
    padding: 60px 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}

#boton{
    margin: 28px 0 0 0;
    width: 130px;
    display: inline-block;
    background: #085078;
    text-align: center;
    color: #fff;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    /* text-transform: uppercase; */
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgba(8, 81, 120, 0.795);
}

.partFooter {
    width: 20%;
    text-align: center;
}

.partFooter h4 {
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}

.partFooter a {
    display: block;
    text-decoration: none;
    color: #f2f2f2;
    font-weight: 300;
    transition: color .3s ease-in-out;
    margin-bottom: 10px;
}


.partFooter a:hover {
    color: #085078;
}

.partFooter img {
    width: 70%;
}

.social-media a {
    font-size: 20px;
    display: inline-block;
    color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 36px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    transition: all ease-in-out .3s;
    margin-right: 5px;
}

.social-media a:hover {
    color: rgb(199, 192, 192);
    background-color: #085078;
    border-color: #085078;
}


@media screen and (max-width: 700px){
	.nav2{
	  color: #fff;
	}
  
	.icono{
	  display:block;
	  cursor: pointer;
	}
  
	.enlaces{
	  position: fixed;
	  top:80px;
	  background: #2c3e50;
	  left: 0;
	  height: 100%;
	  transition: 1s;
	  width: 0;
	  overflow: hidden;
	}
  
	.enlaces a{
	  display: block;
	  width: 100%;
	  height: 50px;
	  padding: 20px;
	  text-align: center;
	  background: #34495e;
	  color:#fff;
	}
  
	.textos>h1{font-size: 70px;}
	.textos>h2{font-size:35px;}
  
	.content-card{
	  width: 48%;
	  margin-bottom:var(--margenes);
	}
  
	:root{
	  --margenes: 30px;
	}

	/* Footer */

    footer {
        justify-content: space-evenly;
    }

    .partFooter {
        width: 40%;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 500px){
	:root{
	  --espacios-contenido: 25px;
	}
  
	.content-card{
	  width: 90%;
	}
  
	.caja-blogs{
	  width: 90%;
	  margin-bottom: var(--margenes);
	}
  
	.cont-services{
	  width: 85%;
	}
  
	.marca-logo{
	  width: 80%;
	}
  
	.iconos{
	  margin: auto;
	}
	/* Footer */
    .partFooter {
        width: 95%;
        margin-bottom: 40px;
    }
}